@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    text-align: center;
    display: grid;
    grid-template: 1fr 2fr 6fr / 1fr 4fr;
    font-family: 'Tilt Neon', sans-serif;
}

/* Sidebar content */
nav {
    background-color: dodgerblue;
    grid-row: 1 / 3;
    color: white;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-self: start;
    align-items: center;
}

.sidebar .logo p {
    font-size: 24px;
}

.sidebar .logo img {    
    height: clamp(3rem, 50%, 10rem);
}

.main-menu,
.secondary-menu{
    text-align: start;
}

.main-menu ul,
.secondary-menu ul {
    display: grid;
    list-style: none;
    gap: 12px;
}

.main-menu ul li,
.secondary-menu ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* Header Content */
header {
    background-color: white;
    box-shadow: 0 8px 6px -6px black;
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    
}

.header div p {
    color:black;
    font-size: 16px;
}

.header .search-bar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column: 1 / 3;
    height: 12px;
    align-items: center;
}

.header .search-bar button {
    background: none;
    border: none;
    padding-right: 6px;
}

.header .search-bar input[type=text] {
    border: none;
    background-color: rgba(233, 237, 245, 0.455);
    border-radius: 15px;
    padding: 4px;
}

.header .profile {
    grid-column: 3 / 5;
}

.header .welcome {
    grid-column: 1 / 2
}

.header .options {
    grid-column: 4 / 5;
    align-self: center;
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
}

.options > button {
    flex: 0 1 30%;
    padding: 12px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border: none;
}

button:hover {
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: rgb(228, 228, 228);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column: 1 / 3;
}

