@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-height: 100vh;
    text-align: center;
    display: grid;
    grid-template: 1fr 2fr 6fr / 1fr 4fr;
    font-family: 'Tilt Neon', sans-serif;
    gap: 4px;
}

/* Sidebar content */
nav {
    background-color: dodgerblue;
    grid-row: 1 / 3;
    color: white;
    padding: 24px;
}

.sidebar {
    display: grid;
    grid-template-rows: 1fr 3fr 2fr;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-self: start;
    align-items: center;
}

.sidebar .logo p {
    font-size: 24px;
}

.sidebar .logo img {    
    height: clamp(3rem, 50%, 10rem);
}

.main-menu,
.secondary-menu{
    text-align: start;
}

.main-menu ul,
.secondary-menu ul {
    display: grid;
    list-style: none;
    gap: 12px;
}

.main-menu ul li,
.secondary-menu ul li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* Header Content */
header {
    background-color: white;
    box-shadow: 0 8px 6px -6px black;
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 7fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 24px;   
}

header .search-bar {
    display: flex;
    grid-column: 1 / 2;
    align-items: center;
}

header .search-bar button {
    background: none;
    border: none;
    font-size: 24px;
    /* justify-self: start;
    padding-left: 2rem; */
}

header .search-bar input[type=text] {
    border: none;
    background-color: rgba(233, 237, 245, 0.455);
    border-radius: 15px;
    padding-left: 12px;
    height: 2rem;
    width: 100%;
}

header .profile {
    grid-column: 3 / 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .profile p {
    font-weight: bold;
}

header .profile img:hover {
    cursor: pointer;
}

header .profile p:hover {
    cursor: pointer;
    text-decoration: underline;
}

header .welcome {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    padding-left: 24px;
    text-align: left;
    gap: 15px;
}

header .options {
    display: grid;
    grid-column: 3 / 5;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 24px;
}

.options > button {
    padding: 12px;
    width: 5rem;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    border: none;
}

button:hover {
    cursor: pointer;
}

/* Main content */
main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    background-color: rgb(228, 228, 228);
    text-align: left;
}

/* Projects Card Section */

main .projects-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}


main .projects-container .project-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

main .projects-container .project-cards-container .project-card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    padding: 16px;
    border-radius: 10px;
    max-width: 250px;
    max-height: 250px;
    border-left: solid 10px yellow;
}

main .projects-container .project-cards-container .project-card > p {
    align-self: start;
    vertical-align: text-top;
    
}


main .projects-container .project-cards-container .project-card .project-card-icons {
    justify-self: end;
    align-self: self-end;
}

main .projects-container .project-cards-container .project-card .project-card-icons:hover {
    cursor: pointer;
}

/* Announcements Section */


/* News Feed Section */


/* Footer Section */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column: 1 / 3;
}

